body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.controls {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Ensures controls stay above the grid */
    background-color: white; /* Add a background color for better visibility */
}

#container {
    display: grid;
    grid-gap: 1px;
    margin-top: 50px; /* Adjust margin to prevent overlap with controls */
}

.gridRow {
    display: flex;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

button {
    margin: 0 10px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

#toggleEraserBtn {
    background-color: #ff0000;
    color: #fff;
}

#toggleEraserBtn.EraserOn {
    background-color: #00ff00;
    color: black;
}
